{%extends 'layout.html'%}

{%block content%}
<link rel="stylesheet" href="/static/groceries.css">
<div class="groceriestitle">
    <h1><a href="{%url 'products'%}">Home/</a> Groceries </h1>
</div>
<div class="leafimg">
    <img src="/static/logo-leaf-new.png" alt="">
</div>
<div class="products">
    <div class="container">
            <ul>
                {%for n in GroceryData %}
                <li>
                    <div class="productimage">
                        <a href="{%url 'productdetails' n.id%}"><img src="/media/{{n.img}}" alt=""></a>
                    </div>
                    <div class="productdescriptiom">
                        <h4>Groceries</h4>
                        <a href="{%url 'productdetails' n.id%}"><h1>{{n.name}}</h1></a>
                        <div class="price">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                            </svg>
                            <h2>{{n.price}}/-</h2>
                        </div>

                    </div>
                </li>
                {%endfor%}
            </ul>
    </div>
</div>

{% endblock %}